In [1]:
import numpy as np
import pandas as pd

In [3]:
a = np.array([[5,5], [4,4]])

In [4]:
a

array([[5, 5],
       [4, 4]])

In [2]:
df = pd.read_csv("import.csv")

In [3]:
df

   height  weight
0      85     180
1      70     160